# same as .gitignore except not ignoring requirements.txt
*.pyc
*.egg-info
*.bak
.coverage
.tox
.venv
test.db
.ipynb_checkpoints
dist
.env
*.ipynb
!requirements.txt

# additional resources not to deploy
tests
exploration-notebook.*
